/* CSS Elements not unique to any page */

/* Hr Elements */

hr {
    max-width: auto;
    margin-left: 0px;
    margin-top: 0px;
}

hr.short{
    border-top: 2px solid #3b3b3b;
    width: 20%;
}

hr.shortCenter{
    border-top: 3px solid #3b3b3b;
    border-radius: 3px;
    width: 15%;
    margin: auto;
    margin-bottom: 10px;
}

/* a tag */
a {
    transition: 0.2s;
}

/* unvisited link */
a:link {
    color: rgb(38, 139, 255);
}
  
/* visited link */
a:visited {
    color: rgb(0, 166, 207);
    text-decoration: underline;
}
  
/* mouse over link */
a:hover {
    color: rgb(0, 81, 187);
}
  
/* selected link */
a:active {
    color: rgb(150, 150, 150);
}

/* Alert Boxes */
/* The alert message box */
.alert {
    margin: 10px 10px 20px 20px;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.good {
    margin: 10px 10px 20px 20px;
    padding: 20px;
    background-color: #44ec35; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
/* When moving the mouse over the close button */
.closebtn:hover {
    color: rgb(160, 160, 160);
}

/* NAVBAR */
.navbar {
    border-radius: 0;
    padding: 4px 8px 8px 4px;
}

.nav a{
    border-radius: 10px;
}

#profile-img {
    max-width: 2.9em;
    width: 100px;
    height: auto;
    border-radius: 100%;
    margin-right: 10px;
    transition: 0.09s;
    border: solid white 0px;
}

#profile-img:hover{
    border: solid white 3px;
}

/*align*/
