{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block home %}class="active"{% endblock %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">{% endblock %}

{% block content %}
<section id="intro">
    <div class="intro-text">
        <h1>Let's compete together. <br>For a better, </h1>
        <hr class="shortCenter">
        <a href="/order-page" class="btn-get-started scrollto">Start Now!</a>
    </div>
</section>
{% endblock %}