{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block home %}class="active"{% endblock %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">{% endblock %}

{% block content %}
<section id="intro">
    <div class="intro-text">
        <h1>Let's compete together,</h1>
        <div id="textmove" class="container overflow-hidden">
            <h1 class="1ms">Openly</h1>
            <h1 class="500ms">Smarter</h1>
            <h1 class="1000ms">Faster</h1>
            <h1 class="3000ms"><i>Better</i></h1>
        </div>
        <hr class="shortCenter">
        <a href="/about" class="btn-get-started scrollto">Learn More</a>
    </div>
</section>

<section id="info">
    <div class="info-text">
        
    </div>
</section>

<script> //Script that changes div text when page runs
function pog(){
    console.log("Pog")

    openly = document.getElementsByClassName("1ms")[0];
    smarter = document.getElementsByClassName("500ms")[0];
    faster = document.getElementsByClassName("1000ms")[0];
    better = document.getElementsByClassName("3000ms")[0];

    num = 1

    openly.style.top = 0;
    smarter.style.top = 0;
    faster.style.top = 0;
    better.style.top = 0;

    function move(elem, wait){
        elem.style.top = (-76*(num-1))+"px";
        
        console.log(num)
        console.log(elem)
        if (wait != -1){
            setTimeout(function(){
                elem.style.top = (-76*num)+"px";
                num += 1
                
            }, wait)
        }
    }

    move(openly, 1000)
    setTimeout(function(){
        move(smarter, 1000)
    }, 1500)
    setTimeout(function(){
        move(faster, 1000)
    }, 3100)
    setTimeout(function(){
        move(better, -1)
    }, 5500)
}

document.onload = pog();

</script>

{% endblock %}