{% extends "layout.html" %}
{% block title %}Leaderboard{% endblock %}

{% block leaderboard %}class="active"{% endblock %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">{% endblock %}

{% block content %}

<section id="info">
    <div class="info-text">
        <h1><b>Leaderboards</b></h1>
        <hr class="shortCenter">
        <p><i>Use the leaderboards to compete with other's and climb to the top!</i></p>
        <hr>
    </div>
</section>

<section id="monthly">
    <div class="monthly-text">
        <h2 style="margin-bottom: 0px"><b>Top-Monthly Leaderboard</b></h2>
        <p class="light-text">(November)</p>
        <hr class="short">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"># Ranking</th>
                    <th scope="col">User</th>
                    <th scope="col">Kudos Score</th>
                    <th scope="col">Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Example User</td>
                    <td>165.3</td>
                    <td>11th</td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>
</section>

{% endblock %}