<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PBIS System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
    
<body>

    <section id="LoginForm">
        <div class="card text-left">
            <div class="card-header">
                <p><b><u>Login Form</u></b></p>
            </div>
            <form id="loginCardForm" method="POST">
                <div class="mainCard">
                    <h4 class="card-title">Login</h4>
                    <hr class="short">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="email" class="form-control" id="username" aria-describedby="userHelp" placeholder="Enter username or email-address">
                            <small id="userHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="pasword">Password:</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                            <div class="form-check">
                                <input onclick="myFunction()" class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Show Password
                                </label>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Login</a>
                </div>
            </form>
        </div>
    </section>

    <script>
    //Short script for showing/hiding password (easy :))
    
    function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    </script>

</body>