{% extends "layout.html" %}
{% block title %}{{ User.Username }}'s Profile{% endblock %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">{% endblock %}

{% block content %}

<section id="profile-info">
    <hr class="img-border-line">
    <div class="page-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img class="profile-large" src="{{ url_for('static', filename='/img/profilePics/Default.png') }}">
                    {% if User.Verified == True %}
                        <img class="verification-ico" src="{{ url_for('static', filename='/img/Verified.png') }}">
                    {% endif %}
                    <h2><b> {{User.Username}} </b></h2>
                    <p class="light-text"><i> @{{User.UserId}}</i></p>
                    <p style="margin-bottom: 0px" class="light-text"><b><i>Status:</i></b></p>
                    <div class="clear-container">
                        <p>{{User.Status}}</p>
                    </div>

                    {% if session.id == User.UserId %}
                        <button id="EditButton" type="button" class="btn btn-secondary btn-sm" onclick="window.location.href = '/user/{{ User.UserId }}/edit'"><b>Edit Profile</b></button>
                    {% elif AbleToDonate != False %}
                        <button id="KudoButton" type="button" class="btn btn-success btn-sm" onclick="window.location.href = '/user/{{ User.UserId }}/give'"><b>Give Kudos</b></button>
                    {% endif %}

                    <hr>

                    <p><b>Joined: </b><i>{{ User.Misc["CreationDate"]|todate }}</i></p>

                    <h5><b>Total Kudos Amount:</b> <i>{{User.Kudos|length}}</i> Kudos</h5>

                    {# if AbleToDonate != False #}
                        <div class="darken-screen">
                            <div class="popup-confirm">
                                <form class="form-inline">
                                    <h2><b>Are you sure you want to send Kudos? 👏</b></h2>
                                    <hr class="dashed">
                                    <div class="popup-info">
                                        <h5><u><b>🧾Receipt Info:</b></u></h5> 
                                        <p id="recipeint"><b>Recipient: </b>{{User.Username}} (@<i>{{User.UserId}}</i>)</p>
                                        <div class="form-group">
                                            <label for="NumberToSend">Number of Kudos to Send: </label>
                                            {% if AbleToDonate == True %}
                                                <input type="number" class="form-control" id="NumberToSend", placeholder="1">
                                            {% else %}
                                                <select class="form-control" id="NumberToSend">
                                                    {% for i in range(AbleToDonate) %}
                                                        <option>{{i + 1}}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                        </div>
                                        <br>
                                        <label id="dateSent">Date Sent: </label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="display: none;" onclick="showHideArea(this)">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Custom Message?
                                            </label>
                                        </div>
                                        <div class="form-group blue-textarea active-blue-textarea">
                                            <p id="kudos-message-to-send" for="kudos-message">Message to Send:</p>
                                            <textarea class="md-textarea form-control" id="kudos-message" rows="2" value = ""></textarea>
                                        </div>

                                        <script>
                                            //Part for updating Date Sent Feild//
                                            n = new Date();
                                            y = n.getFullYear();
                                            m = n.getMonth() + 1;
                                            d = n.getDate();
                                            min = n.getMinutes()
                                            if (min.toString().length != 2){
                                                min = "0"+min.toString()
                                            }
                                            time = n.getHours()+":"+min;
                                            document.getElementById("dateSent").innerHTML = "Date Sent: "+m+"/"+d+"/"+y+" "+time;

                                            function showHideArea(box) {
                                                var dv = document.getElementsByClassName("blue-textarea")[0];

                                                dv.style.display = box.checked ? "block": "none";
                                            }

                                            //Part for updating html to include message sending with kudos//
                                            $("textarea").on('focus', function(){
                                                var msg = document.getElementById("kudos-message-to-send")
                                                var txtmsg = document.getElementById("kudos-message")

                                                msg.style.transition = "0.2s"
                                                txtmsg.style.transition = "0.2s"

                                                txtmsg.style.marginTop = "16px";

                                                msg.style.marginTop = "0px";
                                                msg.style.fontSize = "0.8em";
                                            })

                                            $("textarea").on('blur', function(){
                                                var msg = document.getElementById("kudos-message-to-send")
                                                var txtmsg = document.getElementById("kudos-message")

                                                if (txtmsg.value.trim() == "") {
                                                    document.getElementById("kudos-message").style.marginTop = "0px";

                                                    msg.style.fontSize = "1em";
                                                    document.getElementById("kudos-message-to-send").style.marginTop = "5px";
                                                }
                                            })

                                            $
                                        </script>


                                    </div>
                                    <hr>
                                    <button type="submit" class="btn btn-success">Send Kudos 👏</button>
                                    <button type="cancel" class="btn btn-danger">Cancel 🗙</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {# endif #}
                <div class="col-lg-7">
                    <div id="kudo-info" class="kudo-info">
                        <p>Grade Level: {{User.Grade}}</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    var elem = document.getElementById("KudoButton")
    if (elem != null){

        //window.location.href = '/user/{{ User.UserId }}/give'
    }
</script>

{% endblock %}